.add-car-container {
  width: 400px;
  margin: 0 auto;
  border: 1px solid #000;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f39f5a;
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 15px;

    label {
      display: block;
      margin-bottom: 5px;
    }

    input[type="text"],
    input[type="file"],
    textarea {
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
    }

    input[type="file"] {
      border: 1px solid #000;
      display: inline-block;
      padding: 5px;
    }

    textarea {
      border: 1px solid #000;
    }
  }

  .form-actions {
    display: flex;
    justify-content: space-between;

    .cancel-button{
        color: #090909;
        padding: 0.7em 1.7em;
        font-size: 18px;
        border-radius: 0.5em;
        background: #e8e8e8;
        cursor: pointer;
        border: 1px solid #e8e8e8;
        transition: all 0.3s;
        box-shadow: 6px 6px 12px #c5c5c5, -3px -3px 12px #ffffff;
      }

      .cancel-button:hover{
        border: 1px solid white;
      }
      .cancel-button:active{
        box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
      }
  }

  button {
    padding: 10px 20px;
    cursor: pointer;

    &#cancel {
      background-color: #f5f5f5;
    }

    &#add {
      background-color: #000;
      color: #fff;
    }
  }
}
