    .rent-car-container {
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #000;
    padding: 20px;
    box-sizing: border-box;

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .form-group {
        display: flex;
        align-items: center;
        margin-bottom: 15px;

        label {
        flex-basis: 100px;
        }

        input[type="date"] {
        flex-grow: 1;
        padding: 10px;
        margin: 0 10px;
        box-sizing: border-box;
        border: 1px solid #000;
        }

        input[type="text"] {
        flex-grow: 1;
        padding: 10px;
        margin: 0 10px;
        box-sizing: border-box;
        border: 1px solid #000;
        }


        .calendar-button {
        background: none;
        border: none;
        cursor: pointer;
        }
    }

    .total-cost {
        // display: block;

        input[type="text"] {
        // width: auto;
        background-color: #f0f0f0;
        color: #000;
        font-weight: bold;
        }
    }

    .form-actions {
        text-align: center;

        button {
        padding: 10px 20px;
        cursor: pointer;
        background-color: #000;
        color: #fff;
        border: none;
        }
    }
    }
