.car-detail-div {
    background-color: #000;
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 20px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.5;

    .header2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        h2 {
            font-size: 24px;
            color: #222;
        }

        .buttons {
            button {
                background-color: #f39f5a;
                border: none;
                padding: 10px 15px;
                border-radius: 5px;
                font-weight: bold;
                color: white;
                cursor: pointer;
                margin-left: 10px;
                transition: background-color 0.3s;

                &:hover {
                    background-color: darken(#f39f5a, 10%);
                }
            }
        }
    }

    dialog {
        border: none;
        box-shadow: 0 5px 15px rgba(0,0,0,0.2);
        padding: 20px;
        border-radius: 12px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30%; // Adjust based on your layout
        height: auto;
        overflow: hidden;
        z-index: 1050;

        &::backdrop {
            background-color: rgba(0,0,0,0.5);
        }
    }

    .body {
        margin-top: 20px;

        textarea, input[type="text"] {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            transition: border-color 0.3s;

            &:focus {
                border-color: #f39f5a;
            }
        }
    }

    ImageCarousel {
        margin-top: 20px;
    }
}

