.car-detail-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 6px;
    box-sizing: border-box;

    .buttons{
        display: flex;
        gap: 12px;
        // justify-content: space-around;

        button, Link,a{
            padding: 8px 10px;
            background-color: transparent;
            font-weight: bold;
            font-size: 18px;
            color: white;
            text-decoration: none;
            
        }
    }
}


h1{
    text-align: left;
    padding: 10px;
    margin: 0;
}
.body{
    width: 70%;
    text-align: left;
    padding: 10px;
}
}
 textarea {
        width: 100%; // Ensures full width in container
        padding: 0.8em; // Comfortable padding around the text
        margin-top: 10px; // Spacing from the previous elements
        border: 2px solid #ccc; // Subtle border styling
        border-radius: 4px; // Rounded corners

        &:focus {
            border-color: #5057c9; // Highlight color when focused
            outline: none; // Removes the default focus outline
            box-shadow: 0 0 8px rgba(80, 87, 201, 0.5); // Subtle glow effect
        }
    }

    input{
         padding: 0.8em; // Comfortable padding around the text
        margin-top: 10px; // Spacing from the previous elements
        border: 2px solid #ccc; // Subtle border styling
        border-radius: 4px; // Rounded corners

        &:focus {
            border-color: #5057c9; // Highlight color when focused
            outline: none; // Removes the default focus outline
            box-shadow: 0 0 8px rgba(80, 87, 201, 0.5); // Subtle glow effect
        }
    }

    textarea {
        height: 150px; // Fixed height for text area
        resize: none; // Disables resizing the text area
    }