.sidebar-section{

    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background: #f39f5A;
    box-shadow: 2px 0 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1000;

        

    @mixin cross($size: 20px, $color: currentColor, $thickness: 1px) {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    position: relative;
    width: 20px;
    height: 40px;

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: ($size - $thickness) / 2;
        left: 0;
        right: 0;
        height: $thickness;
        background: $color;
        border-radius: $thickness;
    }

    &:before {
        transform: rotate(45deg);
    }

    &:after {
        transform: rotate(-45deg);
    }

    }



    // Example 2.
    .cross-stand-alone {
    @include cross(40px, #000, 4px);
    display: block;
    }



    // Demo styles.

    body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
    
    }



    .profile-img-div{
        margin-top: 10px;
        width: 100%;

        img{
            width: 100%;
            height: auto;
            object-fit: contain;
            border-radius: 4px;
        }
    }


    .links-div{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        .button-50 {
        appearance: button;
        background-color: #000;
        background-image: none;
        border: 1px solid #000;
        border-radius: 4px;
        box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        margin: 0 5px 10px 0;
        overflow: visible;
        padding: 12px 40px;
        text-align: center;
        text-transform: none;
        touch-action: manipulation;
        user-select: none;
        -webkit-user-select: none;
        vertical-align: middle;
        white-space: nowrap;
        }

        .button-50:focus {
        text-decoration: none;
        }

        .button-50:hover {
        text-decoration: none;
        }

        .button-50:active {
        box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
        outline: 0;
        }

        .button-50:not([disabled]):active {
        box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
        transform: translate(2px, 2px);
        }

        @media (min-width: 768px) {
        .button-50 {
            padding: 12px 50px;
        }
        }

    }
}